<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.html" />
                <add value="Default.aspx" />
                <add value="Default.html" />
                <add value="index.php" />
                <add value="index.aspx" />
                <add value="_holding.html" />
                <add value="welcome.html" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
    </system.webServer>
</configuration>
